@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
    background: #033a56;

}

.game-title {
    color: #ffeedf;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 70px;
    font-weight: bold;
}

.game-description {
    color: #ffeedf;
    font-family: "Raleway", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 70px 0 70px;
    padding: 0 50px 0 50px;
}

.start-buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr 1fr;
    place-items: center;

}

footer {
    color: #ffeedf;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    text-align:center;
}

.hard-button, .easy-button {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    border: 2px dashed black;


}

a {
    text-decoration: none;
}

h1 {
    color: #ffeedf;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 40px;
}

h4 {
    color: #ffeedf;
    font-family: "Raleway", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 70px 0 70px;
    padding: 0 50px 0 50px;
}

.game-play {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
}


.front {
    position: absolute;
    width: 150px;
    height: 150px;
    opacity: 1;
}

.back {
    z-index: 1;
    margin-top: 0px;
    width: 150px;
    height: 150px;

}

.playing-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;
    cursor: pointer;
}

.playing-area2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    text-align: center;
    cursor: pointer;
}


.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffeedf;
    font-family:"Raleway", sans-serif;
    font-size: 40px;
    text-align: center;
}
.score{
    text-decoration: underline;
    font-weight:400;
}

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding:10px;
    margin: 15px;
    background-color: #ffeedf;
    font-family: "Raleway", sans-serif;
}

h5 {
    color: #ffeedf;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 30px;
}


.front.flip {
    opacity: 0;
}
.front.matched {
    display:none;
}

.playing-area div .flip{

        opacity: 0;

}
